<style>
    .redb {
        background-color: red;
    }
</style>
<button @onclick="HandleClick" class="redb">@txt</button>

@code {
    [Parameter]
    public string txt { get; set; } = "hello word";
        [Parameter]
        public EventCallback OnClick { get; set; }

        private async Task HandleClick()
        {
            if (OnClick.HasDelegate)
            {
                await OnClick.InvokeAsync();
            }
        }
}
